/asm
/assets
/backups
/blueprints
/crash-reports
/downloads
/llibrary
/local
/logs
/resourepacks
/saves
/server-resource-packs
minetweaker.log
OpenComp*
usercache.json
usernamecache.json
.curseclient
