# Configuration file

butterflies {
    # Global butterfly size divider (lower values = larger butterflies) [range: 1 ~ 20, default: 8]
    I:scalefactor=8

    # Set to 'reduced' for less butterflies spawning [default: normal]
    S:spawnrate=normal

    # Whether or not to spawn butterflies in certain structures (nether stronghold, jungle temple, etc.), might fix random crashes [default: true]
    B:structurechecks=true

    # Whether or not to use HD Graphics where available [default: true]
    B:usehdgfx=true
}


entitynames {
    S:butterfly=Butterfly
    S:butterflytrophy=ButterflyPainting
    S:guardian=Guardian
}


world-194495383299233079 {
    I:extinct-115=12
    I:extinct-134=25
    I:extinct-148=25
    I:extinct-154=15
    I:extinct-156=15
    I:extinct-201=21
    I:extinct-43=18
    I:extinct-88=18
}


world-2642397788797457853 {
    I:extinct-115=21
    I:extinct-134=20
    I:extinct-148=21
    I:extinct-154=14
    I:extinct-156=11
    I:extinct-201=23
    I:extinct-43=10
    I:extinct-88=20
}


world-530703686166071206 {
    I:extinct-115=25
    I:extinct-134=19
    I:extinct-148=28
    I:extinct-154=22
    I:extinct-156=17
    I:extinct-201=24
    I:extinct-43=17
    I:extinct-88=27
}


world-9125944425656466275 {
    I:extinct-115=25
    I:extinct-134=12
    I:extinct-148=11
    I:extinct-154=13
    I:extinct-156=27
    I:extinct-201=13
    I:extinct-43=18
    I:extinct-88=15
}


