# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=2e4555d3-d0d4-4b56-97f6-b8195b383666

    # Set to true to disable all reporting
    B:opt-out=false
}


